<h1>Editors#index</h1>

<h4>Logo</h4>
<img id="output_image" width="200" height="50">
<img id="output_image1" width="200" height="50">
<input type="file" accept="image/*" onchange="preview_image(event, 'output_image', 'output_image1')" name='logo' id='logo'>


<h4>Banner</h4>
<img id="banner_image" width="800" height="400">
<img id="banner_image1" width="800" height="400">
<input type="file" accept="image/*" onchange="preview_image(event, 'banner_image', 'banner_image1')" name='banner' id='banner'>


<script type="text/javascript">
	function preview_image(event, id1, id2)	{
	 	var ctrlImg = document.getElementById(id1),
	 		cmpImg = document.getElementById(id2);

	   	if(ctrlImg && cmpImg){
	 	    var files = event.target.files[0],
	 	    	reader = new FileReader();

	 		reader.onload = (function(theFile) {
	 		    var image = new Image();
	 		    image.src = theFile.target.result;

	 		    image.onload = function() {
	 		        if(this.width == cmpImg.width && this.height == cmpImg.height && this.width == ctrlImg.width && this.height == ctrlImg.height){
	 					ctrlImg.src = this.src;
	 	 				cmpImg.src = this.src;
	 		        }else{
	 		        	alert(`Sorry, width and height of ${event.target.name} not as expected.`);
	 		        }
	 		    }
	 		})
	 		reader.readAsDataURL(files);
	   	} else {
	 		alert(`Sorry, Please contact support. error code: EPM`);
	   	}
	}
</script>