<h1>Editors#index</h1>

<h4>Logo</h4>
<img id="output_image1" width="200" height="50">
<img id="output_image" width="200" height="50">
<input type="file" accept="image/*" onchange="preview_image(event, 'output_image', 'output_image1')" name='logo' id='logo'>


<h4>Banner</h4>
<img id="banner_image" width="200" height="50">
<img id="banner_image1" width="800" height="400">
<input type="file" accept="image/*" onchange="preview_image(event, 'banner_image', 'banner_image1')" name='banner' id='banner'>
